} #flipbook {
		width: 900px;
		height: 580px;
		margin: 15px;
		margin-top: 50px;
		boarder: 1px solid dimgray;
		box-shadow: 2px 3px 6px darkgray;
	} .hard {
		background: lightyellow !important;
		color: black;
		font-weight: bold;
		border: none;
	} #page img {
		width: 100%;
		object-fit: cover;
		margin: auto;
	} #text1{
		font: 20pt/2.4em 'lexend deca', sans-serif;
		diplasy: flex;
		background: white;
		color: black;
		diplasy: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
		border: 1px solid white;
	} #text2{
		font: 20pt/2.4em 'lexend deca', sans-serif;
		diplasy: flex;
		background: white;
		color: black;
		diplasy: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 10px;
		border: 1px solid white;